<h1>Lista de Autos</h1>

<%= link_to 'Nuevo Post', new_car_path %>
<table>
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th></th>
  </tr>

  <% @cars.each do |car| %>
    <tr>
      <td><%= car.brand %></td>
      <td><%= car.car_model %></td>
      <td><%= link_to 'Show', car_path(car) %></td>
    </tr>
  <% end %>
</table>
